<div class="first hero">
  <img
    class="hero-profile-img"
    src="poorpeoplepic.jpeg"
    alt=""
    style="width: 100%"
  />
  <div class="hero-description-bk"></div>
  <div class="hero-logo">
    <img src="alsunnahlogo.png" alt="" />
  </div>
  <div class="hero-description">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
  </div>
  <div class="footer">
    <div class="hero-date">
      <p>BDT 29452 collected</p>
    </div>
    <div class="hero-btn">
      <a href="#">Donate</a>
    </div>
  </div>
</div>
